<div class="batch-parameter-row" data-parameter-row>
  <div class="batch-parameter-fields">
    <label>
      字段名
      <input name="{{ parameter_prefix }}_field_name" placeholder="{{ default_field_placeholder }}">
    </label>
    <label>
      类型
      <select name="{{ parameter_prefix }}_data_type_choice">
        {% for type_option in parameter_type_options %}
        <option value="{{ type_option }}">{{ type_option }}</option>
        {% endfor %}
        <option value="CUSTOM">自定义</option>
      </select>
    </label>
    <label>
      自定义类型
      <input name="{{ parameter_prefix }}_custom_data_type" placeholder="例如 List&lt;Data&gt;">
    </label>
    <label>
      示例值
      <input name="{{ parameter_prefix }}_example_value" placeholder="{{ default_example_placeholder }}">
    </label>
    <label class="wide-field">
      字段说明
      <textarea name="{{ parameter_prefix }}_description"></textarea>
    </label>
  </div>
  <button class="small-button danger batch-row-remove" type="button" data-remove-parameter-row>删除</button>
</div>
